$color-dark-blue: #054494;
$color-electric-blue: #63A5FA;
$color-blue-border: #1C3B63;
$color-light-blue: #398DF9;
$color-light-purple: #A606C6;
$color-light-red: #F70870;
$color-white: #fff;
$color-navy: #071C32;
