$container-default: 1096px;
$container-small: 710px;

$spacing-stack-2: 2px;
$spacing-stack-4: 4px;
$spacing-stack-8: 8px;
$spacing-stack-12: 12px;
$spacing-stack-16: 16px;
$spacing-stack-20: 20px;
$spacing-stack-24: 24px;
$spacing-stack-32: 32px;
$spacing-stack-50: 50px;
$spacing-stack-64: 64px;
$spacing-inline-2: 2px;
$spacing-inline-4: 4px;
$spacing-inline-8: 8px;
$spacing-inline-12: 12px;
$spacing-inline-16: 16px;
$spacing-inline-20: 20px;
$spacing-inline-24: 24px;
$spacing-inline-32: 32px;
$spacing-inline-50: 50px;
$spacing-inline-64: 64px;
