<section class="io-cards">
  <div class="io-card">
    <div class="io-card-container">
      <div class="io-card-content io-card-content--filled">
        {% include "../assets/svg/hourglass.svg" %}
      </div>
      <a href="" class="io-btn" target="_blank">View strategic model</a>
    </div>
  </div>

  <div class="io-card">
    <div class="io-card-container">
      <div class="io-card-content io-card-content--offset">
        <h3 class="io-card-title">Greater impact starts with more intention.</h3>
      </div>
      <a href="" class="io-btn" target="_blank">View values guide</a>
    </div>
  </div>

  <div class="io-card">
    <div class="io-card-container">
      <div class="io-card-content io-card-content--offset">
        {% include "../assets/svg/io.svg" %}
        {% include "../assets/svg/figma.svg" %}
      </div>
      <a href="https://www.figma.com/community/widget/1190023173922178674" class="io-btn" target="_blank">Try the FigJam widget</a>
    </div>
  </div>
</section>