<footer class="io-footer">
	<div class="io-container-wrapper">
		<div class="io-container io-container--small">
			<h4 class="io-footer-title">{{ footerTitle | safe }}</h4>
			<p>Without a widely accepted ethical standard, the design and tech industries continue to produce
				experiences that create and amplify harms to humanity.</p>
			<p>The Impact Outlook toolkit empowers team and individuals to align on clear intentions that can reduce
				harms in the experiences we create.</p>
			<p><a href="https://impactoutlook.notion.site/impactoutlook/Impact-Outlook-Toolkit-2cc0ee4b3272470d873ee9187a80c92a"
					target="_blank">Visit the draft space in Notion</a></p>
			<p><a href="https://discord.gg/hqKNFRSh" target="_blank">Join the discussion in Discord</a></p>
		</div>
	</div>
</footer>

<footer class="io-footer2">
	<div class="io-container-wrapper">
		<div class="io-container io-container--small">
			<h3 class="io-footer-title2">Made with love for humanity at <a href="https://www.thinkcompany.com/"
					target="_blank">Think Company</a>.</h3>
			<br><br>
			<p>Contributors: Keith Rich, <a href="https://www.dosomething.design/" target="_blank">Joseph
					Carter-Brown</a></p>
			<p>Last Updated: April 2025</p>
		</div>
	</div>
</footer>