<footer class="io-footer">
	<div class="io-container-wrapper">
		<div class="io-container io-container--small">
			<h4 class="io-footer-title">{{ footerTitle | safe }}</h4>
			<p>Without a widely accepted ethical standard, the design and tech industries continue to produce experiences that create and amplify harms to humanity.</p>
			<p>The Impact Outlook toolkit empowers team and individuals to align on clear intentions that can reduce harms in the experiences we create.</p>
			<p><a href="https://impactoutlook.notion.site/impactoutlook/Impact-Outlook-Toolkit-2cc0ee4b3272470d873ee9187a80c92a" target="_blank">Visit the draft space in Notion</a></p>
		</div>
	</div>
</footer>

<script src="https://static.airtable.com/js/embed/embed_snippet_v1.js" async></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/appOsEPdf0Na7bnBU/shreQIWA7PWLcwPSt?backgroundColor=red" frameborder="0" onmousewheel="" width="100%" height="1185" style="background: transparent; border-radius: 0;"></iframe>
