<div class="io-card">
  <div class="io-card-container">
    <div class="io-card-content io-card-content--filled">
      {% include "../../assets/svg/hourglass.svg" %}
    </div>
    <a href="https://www.figma.com/proto/dJFIran1utsSggD72SgKD0/Impact-Outlook-Guide?page-id=652%3A738&type=design&node-id=660-889&viewport=-772%2C590%2C0.29&t=kOrqv0ulu4ylO8gH-1&scaling=scale-down&mode=design"
      class="io-btn" tabindex="1" target="_blank">View strategic model</a>
  </div>
</div>

<div class="io-card">
  <div class="io-card-container">
    <div class="io-card-content io-card-content--offset">
      <h3 class="io-card-title">Greater impact starts with more intention.</h3>
    </div>
    <a href="https://www.figma.com/proto/OVugTN8g5r4C7e5ougVwIB/Impact-Outlook-Guide-v2?page-id=0%3A1&node-id=1-702&p=f&viewport=1283%2C148%2C0.1&t=AypBBSYb1VL75hHL-1&scaling=contain&content-scaling=fixed&starting-point-node-id=1%3A702"
      class="io-btn" tabindex="2" target="_blank">View guide in Figma</a>
    <a href="https://drive.google.com/file/d/1piNMXLM1i1AzicTYWz05KOY6V3_GquHn/view?usp=sharing" class="io2-btn"
      target="_blank" tabindex="3">Download PDF</a>
  </div>
</div>

<div class="io-card">
  <div class="io-card-container">
    <div class="io-card-content io-card-content--offset-b">
      {% include "../../assets/svg/io.svg" %}
      {% include "../../assets/svg/figma.svg" %}
    </div>
    <a href="https://www.figma.com/community/widget/1190023173922178674" class="io-btn" tabindex="4" target="_blank">Try
      the FigJam
      widget</a>
  </div>
</div>