<div class="io-card">
  <div class="io-card-container">
    <div class="io-card-content io-card-content--filled">
      {% include "../../assets/svg/hourglass.svg" %}
    </div>
    <a href="https://www.figma.com/proto/dJFIran1utsSggD72SgKD0/Impact-Outlook-Guide?page-id=652%3A738&type=design&node-id=660-889&viewport=-772%2C590%2C0.29&t=kOrqv0ulu4ylO8gH-1&scaling=scale-down&mode=design" class="io-btn" target="_blank">View strategic model</a>
  </div>
</div>

<div class="io-card">
  <div class="io-card-container">
    <div class="io-card-content io-card-content--offset">
      <h3 class="io-card-title">Greater impact starts with more intention.</h3>
    </div>
    <a href="https://www.figma.com/proto/dJFIran1utsSggD72SgKD0/Impact-Outlook-Guide?page-id=40%3A122&type=design&node-id=1693-506&viewport=-3196%2C1389%2C0.62&t=GLhJtYltfgQgzSqa-8&scaling=scale-down&starting-point-node-id=1693%3A506&hide-ui=1" class="io-btn" target="_blank">View values guide</a>
  </div>
</div>

<div class="io-card">
  <div class="io-card-container">
    <div class="io-card-content io-card-content--offset-b">
      {% include "../../assets/svg/io.svg" %}
      {% include "../../assets/svg/figma.svg" %}
    </div>
    <a href="https://www.figma.com/community/widget/1190023173922178674" class="io-btn" target="_blank">Try the FigJam widget</a>
  </div>
</div>