---
layout: layouts/base.njk
title: Impact Outlook
description: A toolkit for building designed experiences that center humanity.
footerTitle: Aligning on values shouldn&rsquo;t be complicated.
---

<div class="io-container-wrapper">
	<div class="io-container io-container--default">
		{% include "header.html" %}

		<main id="main-content">
			{% include "cards.html" %}
		</main>
	</div>
</div>

{% include "footer.html" %}