.io-footer {
  padding-bottom: calc(#{$spacing-stack-64} + #{$spacing-stack-16});
  padding-top: calc(#{$spacing-stack-64} + #{$spacing-stack-50} + #{$spacing-stack-32});
  background-color: $color-dark-blue;
  color: $color-white;

  @include wider-than($breakpoint-tablet) {
    padding-top: calc(#{$spacing-stack-50} + #{$spacing-stack-50} + #{$spacing-stack-8});
  }

  p {
    margin-bottom: $spacing-stack-32;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    color: $color-white;
    font-weight: $font-weight-700;
  }
}

.io-footer-title {
  margin-bottom: $spacing-stack-12;
  @include type-display-m;

  @include wider-than($breakpoint-tablet) {
    margin-bottom: $spacing-stack-20;
  }
}