// @todo add skip link


body {
  background-color: $color-navy;
  color: $color-white;
  font-family: $font-family-body;
  font-size: 1rem;
}

a:hover {
  text-decoration-color: $color-blue;
  text-decoration-style: double;
}

.io-accessibly-hidden,
%accessibly-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.io-container-wrapper {
  padding: 0 $spacing-inline-24;

  .io-container {
    margin: 0 auto;

    &.io-container--default {
      width: min(100%, #{$container-default});
    }

    &.io-container--small {
      width: min(100%, #{$container-small});
    }
  }
}


.io-skip-link {
  &:focus {
    width: auto;
    height: auto;
    white-space: normal;
    clip: auto;
    z-index: 999;
  }
}


.io-icon {
  display: block;
  height: auto;
}
