$header-padding-top: 148px;
$header-padding-top-mobile: calc($spacing-stack-64 / $breakpoint-mobile-start * 100vw);

.io-header {
  padding-top: $spacing-stack-64;
  padding-bottom: $spacing-stack-64;
  color: $color-white;
  text-align: center;
  

  @include wider-than($breakpoint-mobile-start) {
    padding-top: min($header-padding-top-mobile, $header-padding-top);
  }
}

.io-title {
  margin-bottom: $spacing-stack-20;
  @include type-display-xl;
}

.io-description {
  @include type-body-xl;
  margin-bottom: 2.25rem;
  margin-bottom: clamp(2.25rem, 1.766643059490085rem + 1.9830028328611897vw, 3.125rem);
  color: $color-electric-blue;
}
