$tilt: 66deg;
$tiltB: 56deg;

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tiltExpand {
  0% {
    transform: translateY(0) rotate3d(1, 0, 0, 0);
  }
  100% {
    transform: translateY(0) rotate3d(1, 0, 0, $tilt);
  }
}

@keyframes outerRingUp {
  0% {
    transform: translateY(0) rotate3d(1, 0, 0, $tilt);
  }

  100% {
    transform: translateY(-22%) rotate3d(1, 0, 0, $tiltB);
  }
}

@keyframes middleRingDown {
  0% {
    transform: translateY(0) rotate3d(1, 0, 0, $tilt);
  }
  100% {
    transform: translateY(14%) rotate3d(1, 0, 0, $tiltB);
  }
}

@keyframes innerRingDown {
  0% {
    transform: translateY(0) rotate3d(1, 0, 0, $tilt);
  }
  100% {
    transform: translateY(37%) rotate3d(1, 0, 0, 60deg);
  }
}

@keyframes innerRingReverse {
  0% {
    transform: translateY(37%) rotate3d(1, 0, 0, 60deg);
  }
  100% {
    transform: translateY(0) rotate3d(1, 0, 0, 0);
  }
}

@keyframes outerRingReverse {
  0% {
    transform: rotateX($tiltB);
  }

  100% {
    transform: rotateX(0);
  }
}

@keyframes middleRingReverse {
  0% {
    transform: rotateX($tiltB) translateY(-14%);
  }

  100% {
    transform: rotateX(0) translateY(0);
  }
}