@mixin button-base {
  @include type-body-small;
  @include type-style-bold;
  position: relative;
  border: none;
  border-radius: 0;
  background: transparent;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  appearance: none;
}

@mixin button-style-primary {
  border: 1px solid $color-tint-green-secondary;
  border-radius: $border-radius-large;
  background: $color-tint-green-secondary;
  color: $color-foreground-primary;

  &:hover,
  &:focus {
    border-color: darken($color-tint-green-secondary, 5%);
    background: darken($color-tint-green-secondary, 5%);

    &::after {
      border-color: $color-tint-green-secondary;
      border-radius: $border-radius-large;
    }
  }

  &:active {
    border-color: darken($color-tint-green-secondary, 10%);
    background: darken($color-tint-green-secondary, 10%);
  }

  &[disabled],
  &:disabled {
    border-color: $color-tint-green-secondary;
    background: $color-tint-green-secondary;
    opacity: 0.4;
    cursor: default;
  }

  > svg {
    fill: $color-foreground-primary;
  }
}

@mixin button-style-secondary {
  border: 1px solid $color-foreground-tertiary;
  border-radius: $border-radius-large;
  background: $color-foreground-on-tint;
  color: $color-foreground-primary;

  &:hover,
  &:focus {
    background-color: darken($color-foreground-on-tint, 5%);

    &::after {
      border-color: $color-tint-green-primary;
      border-radius: $border-radius-large;
    }
  }

  &:active {
    background-color: darken($color-foreground-on-tint, 10%);
  }

  &[disabled],
  &:disabled {
    border-color: $color-foreground-tertiary;
    color: $color-foreground-primary;
    opacity: 0.4;
    cursor: default;

    &:hover {
      background: none;
    }
  }

  > svg {
    fill: $color-foreground-primary;
  }
}

@mixin button-style-danger {
  border: 1px solid $color-tint-red-primary;
  border-radius: $border-radius-large;
  background: $color-tint-red-primary;
  color: $color-foreground-on-tint;

  &:hover,
  &:focus {
    background: darken($color-tint-red-primary, 5%);

    &::after {
      border-color: $color-tint-red-primary;
      border-radius: $border-radius-large;
    }
  }

  &:active {
    background: darken($color-tint-red-primary, 10%);
  }

  &[disabled],
  &:disabled {
    border-color: $color-tint-red-primary;
    background: $color-tint-red-primary;
    opacity: 0.4;
    cursor: default;
  }

  > svg {
    fill: $color-foreground-on-tint;
  }
}

@mixin button-style-link {
  @include type-body-default($color-tint-blue-primary);
  @include spacing-squish-4-8;
  border-radius: 0;
  background: none;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: lighten($color-tint-blue-primary, 5%);

    &::after {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-color: $color-tint-blue-primary;
      border-radius: $border-radius-sharp;
    }
  }

  &:active {
    color: darken($color-tint-blue-primary, 5%);
  }

  &[disabled],
  &:disabled {
    color: $color-tint-blue-secondary;
    cursor: default;
  }

  > svg {
    fill: $color-tint-blue-primary;
  }
}

@mixin button-not-button {
  padding: 0;
  border-width: 0;
  background: none;
  appearance: none;
}

@mixin button-close($color: $color-foreground-secondary) {
  @include spacing-inset-12;
  cursor: pointer;
  fill: $color;

  svg {
    display: block;
  }
}
