@mixin type-display-xl() {
  font-size: 18vw;
  font-family: $font-family-display;
  line-height: 1;

  @include wider-than($breakpoint-mobile-start) {
    font-size: $font-size-display-xl;
  }
}

@mixin type-display-m() {
  font-size: 1.75rem;
  font-family: $font-family-display;
  font-weight: 700;
  line-height: 1;

  @include wider-than($breakpoint-mobile-start) {
    font-size: $font-size-display-m;
  }
}

@mixin type-display-s() {
  font-size: $font-size-32;
  font-family: $font-family-display;
  font-weight: $font-weight-400;
  line-height: calc(36 / 32);
}

@mixin type-body-xl() {
  font-size: 1rem;
  font-size: $font-size-body-l;
  font-weight: $font-weight-500;
}